<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <!-- Titulo centrado-->
        <h1 class="text-align: center;"> LISTA DE PERSONAS </h1>

        <table border="1">
                <!-- Nombres de columnas-->
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Paterno</th>
                    <th scope="col">Materno</th>
                    <th scope="col">Documento</th>
                </tr>
            </thead>
            <tbody>
                <% listaPersonas.forEach( (persona) => { %>
                    <tr>
                        <td> <%= persona.id%> </td>
                        <td> <%= persona.nombres%> </td>
                        <td> <%= persona.apellidoPaterno%> </td>
                        <td> <%= persona.apellidoMaterno%> </td>
                        <td> <%= persona.numeroDocumento%> </td>
                    </tr>
    
                <% }); %>
            </tbody>
        </table>
    
</body>
</html>

