<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
</head>

<body class="container" style="margin-top: 50px;">


    <div class="card">
        <div class="card-header">
            <h1 class="text-align: center;"> EDITAR PERSONA </h1>
        </div>

        <div class="card-body">
            <form id="formulario" action="/actualiza/<%= persona.id%>" method="POST">

                <input type="text" class="form-control" id="id" name="id" value="<%= persona.id %>" >

                <div class="form-group">
                    <label>nombres:</label>
                    <input type="text" class="form-control" id="nombres" name="nombres" value="<%= persona.nombres %>" >
                </div>
                <div class="form-group">
                    <label>apellidoPaterno:</label>
                    <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno"  value="<%= persona.apellidoPaterno %>" >
                </div>
                <div class="form-group">
                    <label>apellidoMaterno:</label>
                    <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno"  value="<%= persona.apellidoMaterno %>" >
                </div>
                <div class="form-group">
                    <label>numeroDocumento:</label>
                    <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" value="<%= persona.numeroDocumento %>" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Guardar </button>
                </div>
            </form>
        </div>
    
    </div>
    
</body>
</html>

