<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="container" style="margin-top: 50px;">
        <!-- Titulo centrado-->
        <h1 class="text-align: center;"> LISTA DE PERSONAS </h1>

        <div class="card"> 

            <div class="card-header">
                <ul >
                    <li >
                        <a href="/registrar">Adicionar Personas</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">

                <table border="1">
                        <!-- Nombres de columnas-->
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Paterno</th>
                            <th scope="col">Materno</th>
                            <th scope="col">Documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% listaPersonas.forEach( (persona) => { %>
                            <tr>
                                <td> <%= persona.id%> </td>
                                <td> <%= persona.nombres%> </td>
                                <td> <%= persona.apellidoPaterno%> </td>
                                <td> <%= persona.apellidoMaterno%> </td>
                                <td> <%= persona.numeroDocumento%> </td>

                                <td>
                                    <a href="/editar/<%= persona.id %>" class="btn btn-outline-info"> Actualizar </a>
                                </td>
                                <td>
                                    <a href="/eliminar/<%= persona.id %>" class="btn btn-outline-danger"> Eliminar </a>                   
                                </td>

                            </tr>
                            
                        <% }); %>
                    </tbody>
                </table>
        
            </div>

            <div class="card-header">
                <ul >
                    <li >
                        <a href="/generaPdf">Generar PDF </a>
                    </li>
                </ul>
            </div>

        </div>

    
</body>
</html>

