<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
</head>

<body class="container" style="margin-top: 50px;">


    <div class="card">
        <div class="card-header">
            <h1 class="text-align: center;"> REGISTRAR PERSONA </h1>
        </div>

        <div class="card-body">
            <form id="formulario" action="/adicionar" method="POST">
                <table>
                    <tr>
                        <td>  <label>nombres </label>  </td>
                        <td>  <input type="text" class="form-control" id="nombres" name="nombres" >  </td>
                    </tr>
                    <tr>
                        <td>  <label>apellidoPaterno:</label>  </td>
                        <td>  <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" >  </td>
                    </tr>
                    <tr>
                        <td>  <label>apellidoMaterno:</label>  </td>
                        <td>  <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno"  >  </td>
                    </tr>
                    <tr>
                        <td>  <label>numeroDocumento:</label>  </td>
                        <td>  <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" >  </td>
                    </tr>

                </table>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" > Agregar </button>
                </div>
            </form>
        </div>
    
    </div>
    
</body>
</html>

